<head><style type="text/css">body {background:#383838;}</style></head>
<div id="container_signin">
  <% form_for :session, :url => sessions_path, :html => {:id => "signin_form"} do |f| %>
    <h2>Sign In</h2>
    <div id="login_container">
      <p id="email">
        Email:<br/><br/>
          <%= f.text_field :email, :class => "signinInput" %>
      </p>
      <p id="password">
        Password:<br/><br/>
          <%= f.password_field :password, :class => "signinInput" %>
      </p>
      <p id="submit">
          <%= f.submit " ", :class => "submitInput" %>
      </p>
    </div>
  <% end %>
</div>