<div id="footerWrap">
  <div id="footer">
    <div id="footRight">
      Copyright 2010
      <span class="white">Freshout</span>
      <p class="version">Scrum</p>
    </div>
  </div>
  <br class="clearFix">
</div>
