  <div id="menu">
    <ul>
      <li class="selected">
        <span class="selected-arrow"></span>
        <%= link_to 'Dashboard', root_path %>
        <ul>
          <%= selected_li("Dashboard", root_path) %>
          <%= selected_li("WIP In", wip_path)%>
        </ul>
      </li>
      <% if current_user.admin %>
      <li><%= link_to 'Admin', admin_root_path %></li>
      <% end %>
    </ul>
  </div>

