<div class="column">
  <div class="unit header">
    <h1>Current Projects</h1>
    <%= render 'projects_header'%>
  </div>
  <div class="unit body">
    <div class="columns">
      <% @projects.each do |project| %>
        <div class="column">
          <h3><%= project.name %></h3>
          <%= link_to "Manage Project", project_path(project) %>
        </div>
      <% end %>
    </div>
  </div>
</div>